@include tablet {
    // .contenedor-anuncios {
    //     @include grid(3, 2rem);
    // }
    .contenedor-anuncios{

        display: grid;
        
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        // @include grid(3, 2rem);
        gap: 1rem;
        p{
            word-wrap: break-word;
        }
    }
}
   

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    margin-bottom: 2rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
        word-wrap: break-word;
    }
 
}
.precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;

        img {
            flex:  0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: $black;
        }
    }
}
.resumen-propiedad{
    p{
        word-wrap: break-word;
    }
    .iconos-caracteristicas {
        li{
            img{
                 width: 5rem;
                 height: 5rem;
            }
        }
       
    }
}